.card{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin-bottom: 4%;
    
    &__header{
        border: 1px solid black;
        padding: 3%;
        width: 250px;
    }

}